"_VERSION"=1
general {
    # Maximum achievable levels. If set to 0 or lower there is no upper limit
    maximumLevels=-1
    # Reduces the amount of modifiers a newly build tool gets if the value is lower than the regular amount of modifiers the tool would have
    newToolMinModifiers=0
}
toolxp {
    # Base XP for each of the listed tools
    baseXpForTool {
        "exnihilocreatio:crook_tconstruct"=400
        "exnihilocreatio:hammer_tconstruct"=200
        "plustic:katana"=250
        "plustic:laser_gun"=5000
        "tcomplement:chisel"=300
        "tcomplement:sledge_hammer"=600
        "tconevo:tool_sceptre"=200
        "tconstruct:arrow"=250
        "tconstruct:battlesign"=100
        "tconstruct:bolt"=250
        "tconstruct:broadsword"=250
        "tconstruct:cleaver"=300
        "tconstruct:crossbow"=175
        "tconstruct:excavator"=1000
        "tconstruct:frypan"=100
        "tconstruct:hammer"=2250
        "tconstruct:hatchet"=250
        "tconstruct:kama"=300
        "tconstruct:longbow"=175
        "tconstruct:longsword"=250
        "tconstruct:lumberaxe"=1000
        "tconstruct:mattock"=250
        "tconstruct:pickaxe"=250
        "tconstruct:rapier"=225
        "tconstruct:scythe"=250
        "tconstruct:shortbow"=150
        "tconstruct:shovel"=200
        "tconstruct:shuriken"=200
    }
    # Base XP used when no more specific entry is present for the tool
    defaultBaseXP=200
    # How much the XP cost will multiply per level, minimum 2.
    levelMultiplier=6
}
